{% extends 'base.html' %}
{% block title%} About COVID-19 {% endblock %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<main class="inner cover" role="main">
    <h1 class="cover-heading">About COVID-19</h1>
    <p class="lead">Coronavirus (officially known as - COVID-19), which orignated in China, killed 11,417 people across the globe and infected over 276,468. The virus has spread to 157 countries. In India, 258 confirmed cases have been reported so far. A 68-year-old woman from Delhi, 69-year-old man from Mumbai and a 76-year-old man from Karnataka has been confirmed dead in the country from the virus. On March 19, Prime Minister Narendra Modi urged India's 1.2 billion citizens to put themselves under self-curfew on Sunday (March 22) to protect themselves from the coronavirus.</p>
    <h2 class="cover-heading">Symptoms of coronavirus</h1>
<p class="lead">Coronavirus can make people sick, usually with a mild to moderate upper respiratory tract illness, similar to a common cold. Some of the symptoms are</p>
<ul> 
<li> A general feeling of being unwell</li>
<li>Runny nose</li>
<li>Sore throat</li>
<li>Headache</li>
<li>Cough</li>
<li>Fever</li>
</ul>
<p class="lead">In case someone is facing lower-respiratory tract illnesses, such as pneumonia or bronchitis, they must seek professional health immediately.</p>
<h2 class="cover-heading">Who is more likely to be a victim coronavirus?</h2>
<p class="lead">People with a weakened immune system, cardiopulmonary disease, infants, and older adults are more likely to be affected by a coronavirus.</p>
<h2 class="cover-heading">How do you catch coronavirus?</h2>
<p class="lead">Coronaviruses are zoonotic. This implies that they are passed on between animals and people. When Severe Acute Respiratory Syndrome (SARS-CoV) sickened thousands of people around the world — and killed nearly 800 — during a 2003 outbreak, investigations found that it was transmitted from civet cats to humans. MERS-CoV was transmitted from camels to humans. There are several known coronaviruses are circulating in animals that have not yet infected humans. On January 7, the Chinese authorities identified coronavirus (2019-nCoV) as the causative virus behind cases of pneumonia of unknown cause. This novel coronavirus has not been previously identified in humans, hence experts say its too early to figure out the exact cause of the infection.</p>
<h2 class="cover-heading">How dangerous is coronavirus? Does coronavirus cause death?</h2>
<p class="lead">A few coronaviruses are known to be deadly. Middle East Respiratory Syndrome (MERS), which was first reported in the Middle East, causes severe respiratory problems. Four out of every 10 patients infected with MERS died in 2012.
The infamous Severe Acute Respiratory Syndrome (SARS) causes even more severe symptoms. Along with respiratory problems, it also causes diarrhoea, shortness of breath, fatigue and kidney failure. The death rate with SARS was higher, with older people being the most vulnerable.
The new virus (COVID-19) claimed over 3,000 lives and over 93,000 people were diagnosed positive.</p>  
<h2 class="cover-heading">What are the precautions for Coronavirus?</h2>
<p class="lead">
<ul>
<li>Wash your hands thoroughly with soap</li>
<li>Avoid touching your eyes, nose, or mouth with unclean hands</li>
<li>Avoid close contact with people who are sick</li>
<li>Avoid public gatherings</li>
</ul>
</p>
<h2 class="cover-heading">Coronavirus helpline number and e-mail id</h2>
<p class="lead">Union Health Ministry has activated a toll-free 24x7 national helpline number, 1075, to address queries related to the infection.<br>Anyone seeking information can also call on the number 011-23978046.<br>
<b>The helpline e-mail ID for Coronavirus is <strong>ncov2019@gmail.com</strong></b></p>
  </main>
{% endblock %}
